.chat-mensaje {
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
  border: none;
  margin: 0px;
}
.chat-caja {
  margin-top: 5px;
  align-items: center;

}

.caja {
margin: 20px auto;
}

.itms1 {
  text-align: left;
  display: inline;
}
.itms2 {
  text-align: right;
  display: inline;
}

